<div class="input-group filter-value-container">
    {{ form_widget(data._valueChoices) }}
    {{ form_widget(data._variables_from) }}
    {{ form_widget(data._dateValue_from) }}
    {{ form_widget(data._variables_to) }}
    {{ form_widget(data._dateValue_to) }}
</div>
