{# @var grid \Unlooped\GridBundle\Model\Grid #}
{% set baseRoute = app.request.attributes.get('_route')|replace({'.filter': ''}) %}

{% block content %}
    {% block list_head %}
        {% block list_title %}
            <div class="row justify-content-md-center mb-4">
                <div class="col">
                    <h1>{{ grid.title }}</h1>
                </div>
            </div>
        {% endblock %}
        {% if grid.createRoute %}
            <div class="row mb-3">
                <div class="col-12 col-md-4">
                    <a href="{{ path(grid.createRoute) }}" class="btn btn-primary">
                        {{ grid.createLabel|trans }}
                        <span class="icon-plus-circled"></span>
                    </a>
                </div>
                <div class="col-12 col-md-8 mt-3 mt-md-0 text-md-right pt-2">

                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block filter %}
        {% block flashbag %}
            {% for flashMessage in app.session.flashbag.get('unlooped_grid.warning') %}
                <div class="alert alert-warning" role="alert">
                    <strong>{% trans %}unlooped_grid.flash_message.warning{% endtrans %}</strong> {{ flashMessage|trans }}
                </div>
            {% endfor %}
        {% endblock %}
        <div class="box mb-3">
            <div class="box-nav">
                <ul class="nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link{% if not grid.filterApplied %} active{% endif %}"
                           href="{{ path(baseRoute) }}">All {{ grid.title }}</a>
                    </li>
                    {% if grid.filterApplied and not grid.filter.hash %}
                        <li class="nav-item">
                            <a class="nav-link active">Current Filter</a>
                        </li>
                    {% endif %}
                    {% for filter in grid.existingFilters %}
                        <li class="nav-item">
                            <a class="nav-link {% if grid.filter.hash == filter.hash %}active{% endif %}" href="{{ path(baseRoute ~ '.filter', {'filterHash': filter.hash}) }}">{{ filter.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link {% if not grid.filterApplied %} collapsed{% endif %}" data-toggle="collapse"
                           href="#filterBox" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Filter <span class="icon-filter"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="collapse{% if grid.filterApplied %} show{% endif %}" id="filterBox">
                <div class="box-body">
                    {{ form_start(grid.filterFormView, {'attr': {'data-ug-filter': grid.filtersAsJson}}) }}
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-2">
                                    <label>Field</label>
                                </div>
                                <div class="col-3">
                                    <label>Condition</label>
                                </div>
                                <div class="col-7">
                                    <label>Value</label>
                                </div>
                            </div>
                            {% include '@UnloopedGrid/_collection.html.twig' with {
                                'data': grid.filterFormView.rows,
                                'rowTemplate': '@UnloopedGrid/_filter_row.html.twig',
                                'addBtnSel': '#add-filter-btn',
                                'deleteBtnSel': '.delete-btn-filterrow',
                                'showAddButton': false,
                            } %}
                        </div>
                        <div class="col-md-3 mt-3 mt-md-0 mb-md-3 d-flex align-self-end justify-content-between">
                            <button class="btn btn-sm btn-secondary align-self-end" id="add-filter-btn">
                                {% trans %}Add Rule{% endtrans %}
                                <span class="icon-plus-circled"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-md-4 text-right">
                            {% if grid.saveFilter %}
                                <div class="input-group">
                                    {{ form_widget(grid.filterFormView.name) }}
                                    <div class="input-group-append">
                                        {{ form_widget(grid.filterFormView.filter_and_save, {'attr': {'class': 'btn-secondary'}}) }}
                                    </div>
                                </div>
                            {% endif %}
                            {{ form_widget(grid.filterFormView.filter, {'attr': {'class': 'btn-primary ml-2'}}) }}
                        </div>
                    </div>
                    {{ form_end(grid.filterFormView) }}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block list %}
        {% block list_header %}
            <div class="row align-items-end">
                {% block pagination_top %}
                    {% include '@UnloopedGrid/_pagination.html.twig' with {'grid': grid} only %}
                {% endblock %}
            </div>
        {% endblock %}
        <div class="box mb-3">
            <div class="box-body no-padding">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            {% include '@UnloopedGrid/column_headers.html.twig' with {'grid': grid} %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for data in grid.pagination %}
                        {% include grid.listRow with {'data': data} %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% block list_footer %}
            <div class="row align-items-end">
                {% block pagination_bottom %}
                    {% include '@UnloopedGrid/_pagination.html.twig' with {'grid': grid} only %}
                {% endblock %}
            </div>
        {% endblock %}
        {% if grid.createRoute %}
            <div class="row mt-3">
                <div class="col">
                    <a href="{{ path(grid.createRoute) }}" class="btn btn-primary">{{ grid.createLabel|trans }} <span
                                class="icon-plus-circled"></span></a>
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
