<div class="box mb-3">
    <div class="box-nav">
        <ul class="nav mr-auto">
            <li class="nav-item">
                <a class="nav-link{% if not grid.filterApplied %} active{% endif %}"
                   href="{{ path(grid.route) }}">All {{ grid.title }}</a>
            </li>
            {% if grid.filterApplied and not grid.filter.hash %}
                <li class="nav-item">
                    <a class="nav-link active">Current Filter</a>
                </li>
            {% endif %}
            {% for filter in grid.existingFilters %}
                <li class="nav-item">
                    <a class="nav-link {% if grid.filter.hash == filter.hash %}active{% endif %}" href="{{ path(grid.route ~ '.filter', {'filterHash': filter.hash}) }}">{{ filter.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link {% if not grid.filterApplied and not grid.filter.hasDefaultShowFilter %} collapsed{% endif %}" data-toggle="collapse"
                   href="#filterBox" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Filter <span class="icon-filter"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="collapse{% if grid.filterApplied or grid.filter.hasDefaultShowFilter %} show{% endif %}" id="filterBox">
        <div class="box-body">
            {{ form_start(grid.filterFormView, {'attr': {'data-ug-filter': grid.filtersAsJson}}) }}
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-2">
                            <label>Field</label>
                        </div>
                        <div class="col-3 filter-condition-column">
                            <label>Condition</label>
                        </div>
                        <div class="col-7">
                            <label>Value</label>
                        </div>
                    </div>
                    {% include '@UnloopedGrid/_collection.html.twig' with {
                        'data': grid.filterFormView.rows,
                        'rowTemplate': '@UnloopedGrid/_filter_row.html.twig',
                        'addBtnSel': '#add-filter-btn',
                        'deleteBtnSel': '.delete-btn-filterrow',
                        'showAddButton': false,
                    } %}
                </div>
                <div class="col-md-3 mt-3 mt-md-0 mb-md-3 d-flex align-self-end">
                    <button type="button" class="btn btn-sm btn-secondary align-self-end" id="add-filter-btn">
                        {% trans %}Add Rule{% endtrans %}
                        <span class="icon-plus-circled"></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-link" data-toggle="advanced-filter">Advanced Filter</button>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md-4 text-right">
                    {% if grid.saveFilter %}
                        {% if grid.filter.default %}
                            Remove as Default
                        {% else %}
                            Make as Default
                        {% endif %}

                        {% if grid.filterFormView.delete_filter is defined %}
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="deleteFilterDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Delete Filter
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="deleteFilterDropDown">
                                        {{ form_widget(grid.filterFormView.delete_filter) }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {{ form_widget(grid.filterFormView.filter, {'attr': {'class': 'btn-primary ml-2 d-inline-block float-right'}}) }}
                        <div class="input-group">
                            {{ form_widget(grid.filterFormView.name) }}
                            <div class="input-group-append">
                                {{ form_widget(grid.filterFormView.filter_and_save, {'attr': {'class': 'btn-secondary'}}) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {{ form_end(grid.filterFormView) }}
        </div>
    </div>
</div>
